<html>
<head>
    <title>Optical character recongnition OCR</title>
    <link rel="stylesheet" type="text/css" href="https://niranjandasmm.github.io/digits_ocr_project/css/style.css">
    <script type="text/javascript" src="https://niranjandasmm.github.io/digits_ocr_project/js/main.js" crossorigin></script>  
</head>
<body>
    <h1>Welcome to Optical character recongnition OCR Project</h1>
    <p>Built using Django, some javascript, CSS and html</p>

    <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="name" id="name" required placeholder="What is the correct Output?">
        <input type="file"  accept="image/*" name="image-input" id="image-input"  onchange="loadFile(event)"required placeholder="What is the correct Output?">
        {% comment %} <p><label for="image-input" style="cursor: pointer;">Upload Image</label></p> {% endcomment %}
        <p><img id="output" width="200" /></p>
        <button type="submit">Upload</button>
    </form>
    
    <p><img id="output" width="200" /></p>

    
</body>
</html>